.main {
  display: flex;
  justify-content: space-evenly;
}

.todoConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.title {
  color: darkblue;
}

.todoList {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}