.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cdc9c9;
    border-radius: 10px;
    padding: 15px;
}

.leftContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    word-break: break-word;
}

.circleCheckbox {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.circleCheckbox input {
  display: none;
}

.circleCheckbox .checkmark {
  width: 28px;
  height: 28px;
  background: #f55c47; /* orange circle */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: 0.2s ease;
}

.circleCheckbox .checkmark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s;
}

.circleCheckbox input:checked + .checkmark::after {
  opacity: 1;
}

.taskComplete{
    text-decoration: line-through;
    color: gray;
}

.title{
  font-weight: 600;
}

.description {
    font-size: 14px;
}

.createdAt{
    font-size: 12px;
    color: rgb(82, 80, 80);
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category {
  font-size: 12px;
  color: darkgreen;
  background-color: #c0edff;
  width: max-content;
  padding: 4px 6px;
  border-radius: 10px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  button {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid gray;
    background-color: transparent;
    cursor: pointer; 
  }
}

.removeBtn {
  && {
    border: none;
    color: white;
    background-color: red;
  }
}

.removeBtn:hover{
  background-color: #dc1b1b;
}